* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #203e5c, #000000);
}

.calculator {
    background: rgba(1, 115, 245, 0.596);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 370px;
}
.display {
    width: 100%;
    height: 70px;
    background: rgb(198, 196, 196);
    border: none;
    border-radius: 35px;
    margin-bottom: 20px;
    padding: 20px;
    color: black;
    font-size: 32px;
    text-align: right;
    outline: none;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 35px;
    font-size: 24px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-3px);
}

button:active {
    transform: translateY(6px);
}
.bt:hover{
    color: black;
    background-color: white;

}

.op {
    background: rgba(201, 148, 68, 0.8);
    color: black;
    font-size: 25px;
}

.op:hover {
    background: rgba(255, 152, 0, 1);
    color: white;
}

.eq {
    background: rgba(242, 242, 242, 0.8);
    color: black;
    grid-column: span 3;
    width: 230px;

}

.eq:hover {
    background: rgb(36, 196, 42);
    color: white;
}

.cl {
    background: rgba(149, 42, 34, 0.8);
}

.cl:hover {
    background: rgb(255, 17, 0);
}
@media (max-width: 480px) {
    .buttons {
        gap: 8px;
    }

    button {
        font-size: 20px;
    }

    .eq {
        height: 60px;
    }

    .display {
        height: 60px;
        font-size: 28px;
    }
}